#!name = 滴滴钱包净化
#!author = 怎么肥事 walala
#!update = 2024-10-18 13:13
# 钱包界面
^https:\/\/mapi\.xiaojukeji\.com\/passenger-wallet\/api\/v6\/wallet\/homepage\? url script-response-body didiqb.js
^https:\/\/common\.diditaxi\.com\.cn\/passenger\/weekly\? url reject-dict